.wy-nav-content {
    max-width: 1600px; 
    background: #434344;
  }

.wy-nav-content-wrap {
    background: #434344;
  }

.wy-side-nav-search, .wy-nav-top {
  background: #4b07b9;
}

body, th {
  color: #fff;
}

.rst-content code, td, tr, tbody {
  background: #434344;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td{
  background: #434344;
}