.wy-nav-content {
    max-width: 1600px; 
    background: #434344;
  }

.wy-nav-content-wrap {
    background: #434344;
  }

.wy-side-nav-search, .wy-nav-top {
  background: #4b07b9;
}

body {
  color: #fff;
}

.rst-content code {
  background: #434344;
}

